.body{
    
    width: 100%;
    margin: 0;
    padding: 0;
        &__header{
            background-color: #F3E9F1;
            width: 100%;
            height: 8rem;
                &--nav{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                }
        }               
   }          
.main{
    width: 100%;
    
    
}
.card{
    width: 100%;
    border: black solid thin;
    display: flex;

}
.camera{
    border: black thin solid;
    width: 100%;
    height: 20%;
    margin-top: 2rem;
  

}
    
#camera__img{
    width: 100%;
    height: 100%;
}



/* HEADER */

.nav__logo{
    width: 50%;
    height: 1;
        &--img{
            width: 100%;
            height: 8rem;
            margin-left: 10%;
            
        }
    
}

.nav__menu{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 80%;
    align-items:flex-end;
    
        &--elt{
            height: 20%;
        }

}

#Cart__cont--body{
    border: black solid thin;
}